*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    color:white;
    font-size: 20px;
    font-weight: bold;

    

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;


}
.links{
    display: flex;
    gap: 30px;
    list-style: none;
}
.links a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition:color 0.3s ease;

}
.links a:hover{
    color: teal;
}



.hero{
    position: relative;
    width: 100%;
    background-image: url(bckgrnd.jpg);
    background-size: cover;
    background-position: center;
   min-height:630px;
}
.overlay{
    width: 100%;
   height: 100%;
    background: rgba(0, 0, 0, 0.4); 
}


.mainheading{
    text-align: center;
    color: aliceblue;
    font-size: 70px;
    font-weight: 700;
    padding: 80px;
    animation: fadeIn 3s ease;


}
@keyframes fadeIn{
        from{
            opacity: 0;
            transform: translateY(30px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    .main-container{
        padding: 30px;

    }

.container-1{
     display: grid;
     grid-template-columns:repeat(3,1fr);
     gap: 30px;
     justify-items: center;

}
.home{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: rgba(255,255,256 , 0.2);
    padding:40px;
    margin: 20px;
        border-radius: 20px;
    border: 3px solid cornsilk;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.about-section{
   
         background-image: url(https://i.pinimg.com/1200x/55/a1/7f/55a17f780ce022913c2d45abb90ff05e.jpg);
        background-size: cover;
        height: auto;
        
        
    }
    .about-heading{
        font-size: 50px;
        color: aliceblue;
        text-align: center;
        padding: 20px;
        

    }
    .overlay-2{
        width: 100%;
        height: auto;
        background-color:rgba(0, 0, 0, 0.5);
        
            
    }
    .box1,
    .box2,
    .box3{
        margin: 30px;
    }
    
    .box1{
    width: 250px;
    height: 250px;
       border-radius: 20px;
    border: 2px solid cornsilk;
    background-image:url(https://i.pinimg.com/736x/02/91/c2/0291c205167db9d0ed501441f40e7c40.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    animation: fadeIn 1s ease ;
    

}

.box2{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid cornsilk;
    background-image: url(https://i.pinimg.com/1200x/9b/c8/7d/9bc87d89816b5657ba2c85573d5c3e93.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    animation: fadeIn 1s .4s ease forwards;
    opacity: 0;
}
.box3{
    width: 250px;
    height: 250px;
    background-color: rgb(150, 144, 119);
    border-radius: 20px;
    border: 2px solid cornsilk;
    background-image: url(https://i.pinimg.com/736x/3c/ac/54/3cac5418be6b9a285d4be4ee715419a2.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    animation: fadeIn 1s .8s ease forwards;
    opacity: 0;
}
div h4{
    text-align: center;
    color: aliceblue;
    font-weight: 800;
    font-size:40px;
    padding: 20px;
}
.about{ text-align: center;
    font-weight: 500;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(243, 238, 235);
    margin-bottom: 30px;

}
.content{
    border: 2px solid aliceblue;
    margin: 30px;
    background-color: rgba(255,255,256 , 0.9);
    overflow: scroll;
}
#content{
    border:2px solid rgb(233, 229, 224) ;
   margin: 20px auto;
   margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(255, 255, 256, 0.2);
    overflow: auto;
    height: 200px;
    text-align: center;
   
}
#heading-3{
    color: aliceblue;
    font-size: 30px;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.container-2{
    width: 100%;
    min-height: 380px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 20px;
    
}
.section-3{
     background-image: url(https://i.pinimg.com/1200x/06/ed/ca/06edcaf61b18521fdf1d4a9ae4e811ed.jpg);
    background-size: cover;
}   
.overlay-3{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.card1{
    width: 300px;
    height: 300px;
    border: 2px solid rgb(232, 224, 224);
    border-radius: 10px;
    background-color: rgb(7, 160, 160);
    background-image: url(https://i.pinimg.com/736x/56/68/83/566883f93ccbd02c8fbacbc17ec256f6.jpg);
    background-size: cover;
    
}

.card2{
    width: 300px;
    height: 300px;
    border: 2px solid rgb(232, 224, 224);
    border-radius: 10px;
    background-color: rgb(115, 237, 237);
    background-image: url(https://i.pinimg.com/736x/d6/7a/5e/d67a5e9c8a82e0728a26cf7b0509b866.jpg);
    background-size: cover;
    
}
.card3{
    width: 300px;
    height: 300px;
    border: 2px solid rgb(243, 235, 235);
    border-radius: 10px;
    background-color: rgb(3, 71, 71);
    background-image: url(https://i.pinimg.com/736x/a6/d2/b5/a6d2b51ee40a0d2df49ea54b3b315226.jpg);
    background-size: cover;
    
}
 
 

h1{
    color: aliceblue;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding: 40px;
}
div h3{
    color: rgb(240, 240, 247);
}
.btn{
    padding: 20px;
    background-color: rgb(89, 178, 178);
    color: aliceblue;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease ,transform 0.3s ease;
    animation: pulse 1.5s infinite;
    
}
@keyframes pulse{
    0%{
        transform: scale(1);

    }
    50%{
        transform:scale(1.6);
    }
    100%{
        transform:scale(1) ;
    }
}
    

    .btn:hover{
        background-color: rgb(68, 87, 119);
        transform: scale(1.6);
    }
    .card1,
    .card2,
    .card3{transition: transform 0.5s ease;

    }
    .card1:hover,
    .card2:hover,
    .card3:hover{
        transform:translateY(-10px) scale(1.07);
    }
    .explore{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 30px;
    }
    .loader span{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(208, 218, 218);
        animation: bounce 0.6s infinite alternate;

    }
    .loading-section{
        padding: 5px;
        color: rgb(208, 218, 218);
        text-align: center;
    }
    .loader{
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: 15px;
    }
    .loader span:nth-child(2){
        animation-delay: 0.2s;
    }
    .loader span:nth-child(3){
        animation-delay: 0.4s;

    }
    @keyframes bounce{
        from{
            transform: translateY(0);
        }
        to{
            transform: translateY(-15px);
        }
    }
    .contact{
        text-align: center;
        background-color: rgb(52, 142, 142);
        padding: 50px 20px;
        color: rgb(253, 249, 249);
    }
    .contact h2{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .contact p{
        font-size: 18px;
    }
    .contact button{
        border-radius: 30px;
        padding: 12px 30px;
        margin-top: 20px;   
        border: none;
         background-color: rgb(190, 226, 234);
        color:black;
        cursor: pointer;
        transition:0.5s;
        
    }
    .contact button:hover{
         background-color: rgb(30, 56, 88);
        color:aliceblue;
    transform: scale(1.2);
}
    @media(max-width:768px){
        .logo{
            font-size: 18px;
        }
        .navbar{
            padding: 15px 30px;
        }
        .links{
            gap: 10px;
        }
        .links a{
            font-size: 16px;
           
        }   
        .container-2{
            height: auto;
        }
        .container-1,
        .container-2{
            grid-template-columns:1fr;
            gap: 20px;

        }
        .mainheading{
            font-size: 40px;
            font-weight: 500;
            padding: 40px;
        }
        .home{
            font-size: 16px;
            padding:20px ;
            margin:10px ;}
            .box1,
    .box2,
    .box3{
        width: 90%;
    }
    .card1,
    .card2,
    .card3{
        width: 90%;
    }
    }
    

        
       
    